<!-- This page is illustrative and contains ideas about HTML formatting -->
<!DOCTYPE HTML>
<!-- Signals to the Layout Dialect which layout should be used to decorate this View -->
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layouts/base}" lang="en">

<head>
    <title>Raunak Mondal's Portfolio</title>
</head>

<body>
<th:block layout:fragment="body" th:remove="tag">
    <!-- Start of body content specific to page -->
    <div class="px-5 py-5 mx-auto">
        <h1><strong>Seed</strong></h1>
        <div class="row">
            <div class="col-4">
                <div class="card">
                    <img class="card-img-top" th:src="https://github.com/raunak2007/csa-pages/assets/41299387/079b2d14-58e1-4b24-a4f1-85520f3c9ec4" alt="Seed's Achievement" height="250">
                    <div class="card-body">
                    <h5 class="card-title">Exceptional Achievement</h5>
                    <p class="card-text">
                        Seed achieved 100% in the last trimester of CompSci, demonstrating exceptional performance.
                    </p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <img class="card-img-top" th:src="https://github.com/raunak2007/csa-pages/assets/41299387/263545d4-b06e-4b69-af42-40f6fa4fe88e" alt="Individual Progress" height="250">
                    <div class="card-body">
                    <h5 class="card-title">Individual Progress</h5>
                    <p class="card-text">
                        Seed maintains an at-a-glance view of individual progress, utilizing tools like GitHub Analytics and AP preparation records.
                    </p>
                    <a href="https://raunak2007.github.io/csa-pages/" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <img class="card-img-top" th:src="https://github.com/raunak2007/csa-pages/assets/41299387/2a62aa31-60aa-4524-9fed-b78b47b439a4" alt="Project Work" height="250">
                    <div class="card-body">
                    <h5 class="card-title">Project Work</h5>
                    <p class="card-text">
                        Seed actively contributes to team projects, following requirements and timelines effectively.
                    </p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
    <!-- End of body content specific to page -->
</th:block>
</body>

</html>
